*{
    margin:0;
max-height: 100%;
max-width: 100vw;
}

header{
    height : 60px; 
    background-color: #3651C4;
    width: 100%;
    margin-top: 0;
    margin-left : 0;
}

footer{
    height: 120px; 
    background-color: #5D5D5D;
    width:100%;
    bottom: 0;
    position: fixed;
    

}
body{
    text-align: center;
}
form{
    width: 363px;
    display: inline-block;
    text-align: center;
    margin: 200px 0 0 0;
}

 .form-controller{ 
     
 
 }
 input{
     width: 350px;
     height: 35px;
     outline: none;
     margin: 5px;
 }
 
button{
    width: 120px;
    height: 30px;
    background-color: #E84546;
    color: white;
    
}
.button-control{
    text-align: right;
}
input::placeholder{
    padding-left: 10px;
    font-size: 15px;
}